#title {
    text-align: center;
}

.color {
    margin-left: 200px;
    width: 70px;
    height: 70px;
    border: 1px solid black;
}

#color1 {
    background-color:black;
}

#color2 {
    background-color: red;
}

#color3 {
    background-color: orange;
}

#color4 {
    background-color: palevioletred;
}

.pixel {
    width: 70px;
    height: 70px;
    border: 1px solid black;
    background-color: white;
}

#pixel-board {
    width: 350px;
    margin-left: 500px;
}